#dataBase
HOST = "localhost"
PORT = "3306"
DATABASE = "nameDataBase"
USER = "root"
PASSWORD ="123456"
CHARSET = "utf8"
SQL_LOG = true
TIME_ZONE = ""
#URL FRONTEND
ALLOWEDORIGINS = "http://localhost:8080"

MAXIDLECONNS = 10 
MAXOPENCONNS = 100

#golang Port
PORTS =":3000" 

# file authentication.go (if you need testing just comment and descoment privateBytes and publicBytes and add direct the address keys)
PRIVATEKEY = "/home/user/llavesRSA/private.rsa"
PUBLICKEY = "/home/user/llavesRSA/public.rsa.pub"


